@import 'vars';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--black-color);
  background-color: var(--gray-bg-color);
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.pricings {
  padding: 154px 0 100px 0;

  @media (max-width: 450px) {
    padding: 100px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 60px;
    font-size: 56px;
    font-weight: 300;
    text-align: center;

    @media (max-width: 360px) {
      font-size: 40px;
    }
  }

  &__step {
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--green-color);
  }

  &__suptitle {
    margin-bottom: 55px;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.35;

    @media (max-width: 360px) {
      font-size: 25px;
    }
  }
}

.cards {
  display: flex;
  column-gap: 30px;

  @media (max-width: 1300px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
  }

  &__item {
    padding: 47px 85px 40px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #70707030;
    border-radius: 6px;
    transition: all .3s ease-in-out;

    @media (max-width: 880px) {
      max-width: 380px;
      width: 100%;
    }

    @media (max-width: 460px) {
      max-width: 310px;
      padding: 35px 75px 30px 75px;
    }

    @media (max-width: 360px) {
      max-width: 280px;
    }

    &:hover,
    &:active {
      border: 4px solid var(--orange-color);
      transform: scale(1.1);

      .cards__btn {
        color: #fff;
        background-color: var(--orange-color);
        border: transparent;
      }
    }
  }

  &__time {
    margin-bottom: 22px;
    position: relative;
    text-transform: uppercase;
    color: var(--dark-color);

    &::after {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      top: 25px;
      left: 20px;
      background-color: var(--green-color);
    }
  }

  &__price {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 24px;
    font-weight: 300;

    &::after {
      content: '';
      width: 200px;
      height: 1px;
      position: absolute;
      bottom: -15px;
      right: -50px;
      background-color: #70707029;
      ;
    }
  }

  &__currency {
    position: absolute;
    left: -15px;
    top: 10px;
  }

  &__value {
    font-size: 56px;
  }

  &__duration {
    position: absolute;
    bottom: 10px;
    right: -50px;
  }

  &__description {
    margin-bottom: 32px;
    max-width: 200px;
    text-align: center;
    line-height: 1.6;
  }

  &__btn {
    padding: 10px 62px;
    background: none;
    font-weight: 500;
    color: var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
  }
}

.red_color {
  color: var(--red-color);
}